* {
	box-sizing: border-box;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 300;
}

body {
	margin: 0;
	padding: 0;
	/*background-color: #f9f9f9;*/
	background-color: #fff;
}

.container {
	width: 100%;
	max-width: 960px;
	padding: 20px;
	margin: 0 auto;
}

h1,p {
	text-align: center;
}

p.message {
	/*color: #e12234;*/
	color: #999;
}

p.error {
	color: #e12234;
	/*color: #999;*/
}
p.error a {
	color: #e12234;
	/*color: #999;*/
}

form {
	max-width: 500px;
	padding: 20px;
	margin: 0 auto;
}

form textarea,input[type="date"],input[type="text"], input[type="email"], input[type="password"], input[type="submit"], select {
	display: block;
	width: 100%;
	margin-bottom: 20px;
	font-size: 22px;
	border-radius: 3px;
	padding: 10px;
	box-shadow: none;
	border: 1px solid #eee;
}

form input[type="submit"] {
	-webkit-transition: opacity .3s ease-out;
	-moz-transition: opacity .3s ease-out;
	-ms-transition: opacity .3s ease-out;
	transition: opacity .3s ease-out;
	background-color: #006699;
	cursor: pointer;
	color: #fff;
}

form input[type="submit"]:hover {
	opacity: 0.8;
}

.action-options {
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 100px;
	margin-bottom: 40px;
}

.action-options a {
	transition: all .4s ease-out;
	text-align: center;
	flex-basis: 20%;
	background-color: white;
	box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.2);
	border-bottom: 1px solid #eee;
	border-radius: 3px;
	padding: 0;
	margin: 0;
	color: #006699;
	height: 100%;
	width: 100%;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.action-options a:hover {
	box-shadow: 0px 10px 25px -5px rgba(0,0,0,.3);
	/*opacity: 0.8;*/
}

.list-section {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
}

.clients-section {
	flex-basis: 50%;
}

.client-item {
	background: white;
	padding: 20px;
	margin-bottom: 10px;
	border-radius: 3px;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,.1);
	text-align: left;
}

.client-item h3 {
	font-size: 30px;
	line-height: 1;
	margin: 0 0 30px;
}
.client-item p {
	text-align: left;
	margin: 0 0;
}